# Dependencies
/node_modules
/.pnp
.pnp.js

# Build output
/dist
/out

# Testing
/coverage

# Misc
.DS_Store
*.pem
*.log

# Env files
.env
.env.local
.env.*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# IDE
.vscode/
.idea/

# Claude
/.claude/
